<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="DB_LibraryCollege" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\3 курс\6 семестр\Курсовая\LibraryCollege\DB_LibraryCollege.mdf;Integrated Security=True" />
  <add name="LibraryCollege.Properties.Settings.DB_LibraryCollegeConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DB_LibraryCollege.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>